<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<div class="about-container-fluid">
  <div class="we-are-title mt-100 mb-50">
    <p>CHÚNG TÔI LÀ OFTHESUN!</p>
  </div>
</div>
<div class="about-container-full">
  <div class="we-are_img">
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740181_optimized.jpg?v=1710494298" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740198_optimized.jpg?v=1710494305" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740208_optimized.jpg?v=1710494305" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740249_optimized.jpg?v=1710495518" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740202_optimized.jpg?v=1710494305" />
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740185_optimized.jpg?v=1710494305" />
    </div>
  </div>
</div>
<div class="about-container-fluid">
  <div class="we-are-title mt-100 mb-50">
    <p>Trang sức thủ công độc đáo, Mỗi chế tác phản ánh cá tính và vẻ đẹp riêng biệt của người đeo</p>
  </div>
  <div class="we-are-des text-center">
    <p>Hãy để phụ kiện là điểm nhấn cuối cùng cho outfit của bạn!
    </p>
  </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-center mt-100 mb-50">
    <p>VẺ ĐẸP ĐA DẠNG</p>
  </div>
  <div class="we-are_img">
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740261_optimized.jpg?v=1710494958" loading="lazy"/>
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740265_optimized.jpg?v=1710494959" loading="lazy"/>
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740255_optimized.jpg?v=1710494959" loading="lazy"/>
    </div>
  </div>
  <div class="we-are-title text-center mt-100 mb-50">
    <p>TÌNH YÊU VÀ SỰ TỰ TIN</p>
  </div>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/2_optimized.png?v=1710495764" loading="lazy"/></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/10_optimized.png?v=1710495764" loading="lazy"/></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/8_optimized.png?v=1710495764" loading="lazy"/></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/3_optimized.png?v=1710495764" loading="lazy"/></div>
        <div class="swiper-slide"><img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/9_optimized.png?v=1710495765" loading="lazy"/></div>
        <!-- <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div> -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
  <div class="we-are-title text-center mt-100 mb-50">
    <p>CÁ TÍNH VÀ ĐỘC ĐÁO</p>
  </div>
  <div class="we-are_img">
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740189_optimized.jpg?v=1710496171" loading="lazy"/>
    </div>
    <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740228_optimized.jpg?v=1710496170" loading="lazy"/>
    </div>
    <!-- <div class="we-are_img-item">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/img_9870_optimized.webp?v=1709263151" />
    </div> -->
  </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-center mt-100 mb-50">
    <p>OF THE SUN - CHÚNG TÔI LÀ AI?</p>
  </div>
  <div class="image-with_content">
    <div class="we-are_img">
    </div>
    <div class="we-are_content-right">
      <p>
        Of The Sun là thương hiệu trang sức bạc mang đến những chế tác thủ công độc nhất và khác biệt, "Too fat, too skinny, too tall, too short, whatever they say, be yourself and be beautiful".
      </p>
      <p>
        <b>Ai cũng có mặt trời của riêng mình</b>
        <br>
        Vẻ đẹp không có giới hạn và không tuân theo bất cứ khuôn mẫu cụ thể nào, Of The Sun trân trọng tất cả vẻ đẹp của mọi người phụ nữ.  Mỗi chế tác của chúng tôi giúp mọi người - dù là ai, dáng vóc ra sao - sẽ luôn tự hào khi nhìn vào gương và chúng tôi sẽ luôn đồng hành cùng bạn trên hành trình đó.
      </p>
    </div>
  </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-center mt-100 mb-50">
    <p>SỨ MỆNH CỦA OF THE SUN?</p>
  </div>
  <div class="image-with_content">
    <div class="we-are_content-left">
      <p>
        Với đội ngũ hơn 100 con người tài năng và nhiệt huyết, sứ mệnh của chúng tôi là tạo ra những món phụ kiện, trang sức thủ công vượt qua xu hướng và cùng tỏa sáng theo cách chỉ mình bạn có. 
      </p>
    </div>
    <div class="we-are_img">
    </div>
  </div>
</div>
<div class="about-container-full">
  <div class="we-are-title text-center mt-100 mb-50">
    <p>ĐIỀU GÌ TẠO NÊN OF THE SUN?</p>
  </div>
  <div class="image-with_content">
    <div class="we-are_img">
    </div>
    <div class="we-are_content-right">
      <p>
        <b>CHUẨN MỰC</b>
        <br>
        Mang trong mình niềm đam mê với trang sức thủ công, Of The Sun không ngừng lắng nghe và hoàn thiện mình qua từng ngày, từ đó đem tới cho khách hàng trải nghiệm, dịch vụ và sản phẩm CHUẨN cam kết.
      <p>
        <p>
          <b>PHÁ CÁCH</b>
          <br>
      Of The Sun tin rằng mỗi người đều có những vẻ đẹp riêng và xứng đáng được tôn vinh, từ chất liệu đó cùng với tư duy táo bạo đã tạo nên những sản phẩm độc đáo, khác biệt, không chỉ là phụ kiện trang sức mà còn là nguồn cảm hứng để người đeo tự tin hơn về chính mình.
      </p>
    </div>
  </div>
</div>
<!-- <div class="about-container-small">
  <div class="we-are-title-2 text-center mt-100">
    <p style="font-style: italic">Tâm huyết với những chế tác được tạo ra từ đôi bàn tay thuần Việt, Helios mong muốn khẳng định giá trị của chúng với cộng đồng quốc tế, đưa mặt hàng vươn ra thế giới một cách mạnh mẽ và đầy tự hào.</p>
  </div>
</div> -->
<div class="about-container-full">
    <div class="about-card">
      <div class="we-are-title text-left about-card_item">
          DESIGN
      </div>
      <div class="about-card_item">
        <div class="about-card_item_img">
          <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740281_optimized.jpg?v=1710494305" loading="lazy" />
        </div>
        <div class="about-card_item_content">
          <p style="font-weight: bold">NGUỒN CẢM HỨNG</p>
          <p>Mỗi cá nhân đều có vẻ đẹp riêng biệt và xứng đáng được ca ngợi, chúng tôi muốn phá vỡ những khuôn mẫu về vẻ đẹp truyền thống, Of The Sun tôn vinh sự đa dạng, đặt ra một chuẩn mực mới về vẻ đẹp: "Đẹp là chính bạn."</p>
          <p style="font-weight: bold">PHÁC THẢO</p>
          <p>Dựa trên biểu tượng chủ đạo, đội ngũ thiết kế bắt đầu phác những hình ảnh đầu tiên trên bản vẽ giấy. Đường nét cách điệu cần phải truyền tải đúng tinh thần của ý tưởng, cũng thể hiện dấu ấn đặc trưng chỉ có tại Of The Sun.</p>
          <p style="font-weight: bold">MÔ HÌNH 3D</p>
          <p>Từ bản phác thảo vẽ tay, nhóm thiết kế kỹ thuật số tạo ra mô hình 3D với sự hỗ trợ của phần mềm đồ họa. Mô hình này sau đó được in phôi 3D với vật liệu lỏng dạng sáp, phục vụ chuyên biệt cho lĩnh vực đúc kim loại. Phôi sáp in xong chính là khuôn mẫu nguyên bản của chế </p>
        </div>
      </div>
      <div class="about-card_item">
        <div class="about-card_item_img">
          <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740283_optimized.jpg?v=1710496515" loading="lazy" />
        </div>
        <div class="about-card_item_content">
          <p style="font-weight: bold">XƯỞNG BẠC KHÉP KÍN</p>
          <p>Tại xưởng bạc khép kín, người thợ của Of The Sun tiến hành quy trình tạo khuôn từ cây sáp. Sử dụng bạc S925 cao cấp, đun nóng chảy rồi rót vào khuôn để tạo nên cây bạc, mỗi nhánh tương ứng với một sản phẩm. Khi đã có được cây bạc, lần lượt mỗi nhánh được tách rời, trải qua các công đoạn mài dũa - đánh bóng.</p>
          <p>Toàn bộ quá trình được thực hiện cẩn thận và tỉ mỉ bằng đôi tay người thợ lành nghề. Vì thế, mỗi sản phẩm là duy nhất, chắc chắn không thể có bản thứ hai giống y hệt.</p>
        </div>
      </div>
      <div class="about-card_item">
        <div class="about-card_item_img">
          <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/p1740276_optimized.jpg?v=1710496520" loading="lazy" />
        </div>
        <div class="about-card_item_content">
          <p style="font-weight: bold">CHẾ TÁC HOÀN THIỆN</p>
          <p>Khi công đoạn sản xuất đã hoàn thành, bộ phận chất lượng tiến hành kiểm tra và đánh giá từng sản phẩm, đảm bảo cả về mặt nhìn cũng như trải nghiệm thực tế khi sử dụng.</p>
        </div>
      </div>
    </div>
</div>
<!-- <div class="about-container-full">
  <div class="we-are-title text-left mt-100">
    <p>OUR STORES</p>
  </div>
  <div class="our-store">
    <div class="our-store_img flex">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/z5207452630221_e0dfcd567e97fc9e4789ce9d46512085_optimized.webp?v=1709346888" loading="lazy" />
    </div>
    <div class="our-store_content">
      <p style="font-weight: bold">STORE LÊ THANH NGHỊ</p>
      <p>4/104 Lê Thanh Nghị, Q. Hai Bà Trưng, Hà Nội.
       <br> Hotline: 0964 302 899
       <br> Mở cửa: T2 - CN, 08:30 - 22:00
      </p>
      <button class="our-store_btn">
        <a href="tel:0964302899">Liên hệ</a>
      </button>
      <button class="our-store_btn">
        <a href="tel:0964302899">Chỉ đường</a>
      </button>
    </div>
  </div>
  <div class="our-store mt-30">
    <div class="our-store_img flex">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/deja2007_optimized_1.jpg?v=1709280446" loading="lazy" />
    </div>
    <div class="our-store_content">
      <p style="font-weight: bold">STORE BÀ HẠT</p>
      <p>371 Bà Hạt, Phường 4, Quận 10, TP. Hồ Chí Minh.
       <br> Hotline: 0794 302 899
       <br> Mở cửa: T2 - CN, 08:30 - 22:00
      </p>
      <button class="our-store_btn">
        <a href="tel:0794302899">Liên hệ</a>
      </button>
      <button class="our-store_btn">
        <a href="tel:0794302899">Chỉ đường</a>
      </button>
    </div>
  </div>
  <div class="our-store mt-30">
    <div class="our-store_img flex">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/img_7769-_1__optimized.webp?v=1709280998" loading="lazy" />
    </div>
    <div class="our-store_content">
      <p style="font-weight: bold">STORE NGUYỄN TRÃI</p>
      <p>672 Nguyễn Trãi, Q. Thanh Xuân, Hà Nội.
       <br> Hotline: 0395 302 899
       <br> Mở cửa: T2 - CN, 08:30 - 22:00
      </p>
      <button class="our-store_btn">
        <a href="tel:0395302899">Liên hệ</a>
      </button>
      <button class="our-store_btn">
        <a href="tel:0395302899">Chỉ đường</a>
      </button>
    </div>
  </div>
  <div class="our-store mt-30">
    <div class="our-store_img">
      <img src="https://cdn.shopify.com/s/files/1/0644/2958/8701/files/the-new_optimized.webp?v=1709270005" loading="lazy" />
    </div>
    <div class="our-store_content">
      <p style="font-weight: bold">THE NEW PLAYGROUND</p>
      <p>The New Playground, đối diện 98 Lê Lai, Phường Phạm Ngũ Lão, Quận 1, TP. Hồ Chí Minh.
       <br> Hotline: 0336 302 899
       <br> Mở cửa: T2 - CN, 09:30 - 21:30
      </p>
      <button class="our-store_btn">
        <a href="tel:0336302899">Liên hệ</a>
      </button>
      <button class="our-store_btn">
        <a href="tel:0336302899">Chỉ đường</a>
      </button>
    </div>
  </div>
</div> -->

<style>
  .our-store_img.flex img {
    width: 100%;
  }
  .our-store {
    display: grid;
    grid-template-columns: 77% 23%;
    gap: 25px;
  }
  .about-container-fluid {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
  .about-container-full {
    max-width: 2000px;
    width: 95%;
    margin: 0 auto;
  }
  .about-container-small {
    width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
  }
  .we-are-title {
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    text-transform: uppercase;
  }
  .we-are-title-2 {
    font-size:1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
  }
  .we-are_img, .about-card {
    display: flex;
    gap: 5px;
  }
  .about-card {
    margin-top: 150px;
  }
  .we-are_img-item {
    width: 100%;
    height: 100%;
  }
  .about-card_item {
    width: 25%;
  }
  .text-center {
    text-align: center!important;
  }
  .text-left {
    text-align: left!important;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mt-100 {
    margin-top: 100px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .flex {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  /* Swiper slide */
  .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 600px;
      height: auto;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
  /* .swiper {
      width: 550px;
      height: auto;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    } */
  .image-with_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    margin: 0 auto;
  }
  .we-are_content-right {
    width: 100%;
    padding-right: 100px;
    text-align: justify;
  }
  .we-are_content-left {
    width: 100%;
    padding-left: 100px;
    text-align: justify;
  }
  .about-card_item_content {
    padding: 12px;
    text-align: justify;
  }
/* Mobile responsive */
@media screen and (max-width:991px) {
  .swiper {
      width: 60%;
    }
  .image-with_content {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .we-are_content-left {
    padding-left: 0;
  }
  .we-are_content-right {
    padding-right: 0;
  }
  .about-container-small {
    width: 100%;
    padding: 0 10px;
  }
  .about-card {
    flex-wrap: wrap;
  }
  .about-card_item {
    width: 100%;
  }
  .our-store {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .we-are-title {
    font-size: 1.7em;
  }
}
</style>
<!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      effect: "coverflow",
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: "auto",
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  </script>
</div>