<div class="about-container-fluid">
  <div class="we-are-title mt-100 mb-20">
    <p>Câu chuyện của OfTheSun</p>
  </div>
</div>
<div class="about-container-fluid">
  <div class="mt-30 mb-50">
    <p>Of The Sun là thương hiệu nữ trang, nằm trong hệ sinh thái của thương hiệu phụ kiện bạc nam Helios. Trong suốt 9 gây dựng và phát triển, Helios đã đồng hành với hơn 171.000 khách hàng trên hành trình thể hiện phong cách cá nhân, trong đó nhận được không ít sự yêu thích từ phái đẹp</p>  
    <br><p>Với đội ngũ mang trong mình niềm đam mê mãnh liệt với ngành trang sức thủ công, và sự đón nhận nhiệt tình từ các chị em. Helios chúng tôi quyết tâm thử sức với một định hướng mới, các ý tưởng về một thương hiệu dành cho phái đẹp, thể hiện khía cạnh của sự nữ tính dần được hình thành.</p> 
<br><p> Để đến ngày hôm nay, OfTheSun được ra đời, với mong muốn tôn vinh vẻ đẹp tự nhiên nguyên bản của người phụ nữ và nói lên câu chuyện về hành trình mỗi người phụ nữ khám phá vẻ đẹp tự nhiên và độc đáo của chính mình.</p> 
<br><p> Đằng sau mỗi chế tác là một câu chuyện, một rung cảm đặc biệt, và Of The Sun tự hào khi được là một phần trong câu chuyện của riêng bạn.
</p>
    <br><p>Khai thác sự nữ tính và những điều quen thuộc xoay quanh người phụ nữ, OfTheSun mong muốn đem đến những chế tác mà qua đó, người sử dụng có thể tự tin thể hiện tính nữ của mình, đồng thời giúp họ nuôi dưỡng vẻ đẹp bản thân và cá tính của mình hơn. Nói lên câu chuyện của mình một cách tự tin nhất. </p>
  </div>
</div>
<div class="about-container-fluid">
  <div class="we-are-title mt-100 mb-20">
    <p>Of The Sun</p>
  </div>
</div>
<div class="about-container-fluid">
  <div class="mt-30 mb-50">
    <p><b>Of The Sun - Thuộc về Mặt Trời.</b></p>  
    <p>Mặt Trời là biểu tượng cho sức sống của tự nhiên, ẩn chứa những nét đẹp nguyên bản nhất như sự rực rỡ của ánh sáng.</p> 
    <p>Of The Sun là hiện thân của tất cả những nét đẹp ấy, mang tới những sản phẩm không chỉ là trang sức, mà còn là biểu tượng của vẻ đẹp tự nhiên và nữ tính.</p> 
  </div>
  <!-- <img src="https://cdn.shopify.com/s/files/1/0849/3147/7815/files/DSC05658.jpg?v=1716372574" loading="lazy"/> -->
  <div class="mt-30 mb-50 d-grid">
    <div class="grid-1" style="font-style: italic;"><p><b>Nữ tính & Nguyên bản</b></p>
      <p>Tái hiện hình ảnh người phụ nữ hiện đại, tự tin và quyến rũ, những chế tác của Of The Sun luôn hướng đến sự nữ tính bên trong. Sự kết hợp tinh tế giữa bạc Thái và đá quý tự nhiên không chỉ là biểu tượng của tính sang trọng mà còn tôn vinh nét đẹp nguyên bản. 
      Mỗi đường nét trên đều được người thợ lành nghề chăm chút kỹ lưỡng, biến từng chi tiết thành một câu chuyện, một nguồn cảm hứng để mỗi cô gái có thể tự thể hiện chính mình.
      </p>
    </div>
    <div class="grid-1" style="font-style: italic;">
      <p><b>Phóng khoáng & Cá tính</b></p>
      <p>Không có bất kỳ khuôn mẫu hay giới hạn nào, mỗi chế tác của Of The Sun là độc bản và riêng biệt. Chúng tôi không ngừng tiếp cận những khía cạnh mới mẻ của vạn vật xung quanh, kết nối với những chất liệu đa dạng và biến chúng trở thành tác phẩm mang dấu ấn cá nhân của mỗi người sở hữu chúng.</p>
    </div> 
  </div>
</div>
<div class="about-container-fluid">
  <div class="we-are-title mt-100 mb-20">
    <p>Hành trình của OfTheSun trong 5 năm tới!</p>
  </div>
</div>
<div class="about-container-fluid">
  <div class="mt-30 mb-50">
    <p>Tự hào là thương hiệu nữ trang của người Việt, không ngừng hoàn thiện bản thân để vươn tầm thế giới.
Những năm trở lại đây, ngành hàng thủ công tại Việt Nam đã bắt đầu vươn ra thị trường nước ngoài. Tuy nhiên, so với các thương hiệu quốc tế cùng ngành, sức cạnh tranh của thương hiệu Việt vẫn còn rất thấp.
Điều này xuất phát từ nhiều nguyên nhân, trong đó đáng chú ý nhất là sự thiếu đầu tư trong khâu thiết kế mẫu mã. Đặc biệt, việc sao chép và bắt chước các thương hiệu nước ngoài càng làm lãng phí giá trị thực sự và tiềm năng sáng tạo của ngành hàng thủ công Việt Nam.
</p> 
    <br>
    <p>Tâm huyết với những chế tác được tạo ra từ đôi bàn tay thuần Việt, Of The Sun mong muốn khẳng định giá trị của ngành nghề làm bạc tại Việt Nam, đưa chúng tới cộng đồng quốc tế, vươn ra thế giới một cách mạnh mẽ và đầy tự hào.
</p> 
  </div>
</div>


<style>
  .text-bold {
    font-weight: 600;
  }
  .our-store_img.flex img {
    width: 100%;
  }
  .our-store {
    display: grid;
    grid-template-columns: 77% 23%;
    gap: 25px;
  }
  .about-container-fluid {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }
  .about-container-full {
    max-width: 2000px;
    width: 95%;
    margin: 0 auto;
  }
  .about-container-small {
    width: 1200px;
    margin: 0 auto;
    padding: 0 100px;
  }
  .we-are-title {
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
  }
  .we-are-title-2 {
    font-size:1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
  }
  .we-are_img, .about-card {
    display: flex;
    gap: 5px;
  }
  .about-card {
    margin-top: 150px;
  }
  .we-are_img-item {
    width: 100%;
    height: 100%;
  }
  .about-card_item {
    width: 25%;
  }
  .text-center {
    text-align: center!important;
  }
  .text-left {
    text-align: left!important;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mt-100 {
    margin-top: 100px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mb-50 {
    margin-bottom: 50px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .flex {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  /* Swiper slide */
  .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 600px;
      height: auto;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
    }
  /* .swiper {
      width: 550px;
      height: auto;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    } */
  .image-with_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    margin: 0 auto;
  }
  .we-are_content-right {
    width: 100%;
    padding-right: 100px;
    text-align: justify;
  }
  .we-are_content-left {
    width: 100%;
    padding-left: 100px;
    text-align: justify;
  }
  .about-card_item_content {
    padding: 12px;
    text-align: justify;
  }
  .d-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
/* Mobile responsive */
@media screen and (max-width:991px) {
  .swiper {
      width: 60%;
    }
  .image-with_content {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .we-are_content-left {
    padding-left: 0;
  }
  .we-are_content-right {
    padding-right: 0;
  }
  .about-container-small {
    width: 100%;
    padding: 0 10px;
  }
  .about-card {
    flex-wrap: wrap;
  }
  .about-card_item {
    width: 100%;
  }
  .our-store {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .we-are-title {
    font-size: 1.7em;
  }
}
</style>